.carouselItem{
    /* Add shadows to create the "card" effect */
    /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/
    transition: 0.3s;
    /*border-radius: 30px;  5px rounded corners */
    max-width: 100%;
    text-align:center;
    padding-right: 40px;
    padding-left: 40px;
} 



.carouselItem img {
    width: 100%;
      /* Add rounded corners to the top left and the top right corner of the image */
    border-radius: 40px 40px 40px 40px;
  }

/* Add some padding inside the card container */
.carouselItem csl-container {
  
  word-wrap: break-word;
    padding: 30px 60px;
    max-width: 100%;
  }

  .carouselItem .csl-container h4 {
    text-align: center;
      padding: 3px 6px;
    }

    .carouselItem .csl-container p {
      max-width: 100%;
      text-align: center;
        padding: 3px 6px;
        word-wrap: break-word;
      }

      .carousel-container {
        width: 100%;
       }


